.header {
  font-family: Nova Mono, 'Courier New', Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

.button {
  background-color: lightgrey;
  border: none;
  padding: 0 5px;
  font-family: Nova Mono, 'Courier New', Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.1ch;

  &:hover {
    background-color: rgba(93, 107, 98, 0.5);
  }
}
