.header {
  font-family:
    Nova Mono,
    'Courier New',
    Courier,
    monospace;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin-bottom: 20px;
  padding: 0 20px 20px 0px;
}

.cartPage {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cartSection {
  margin: 20px 20px 20px 40px;
  flex-basis: 30%;

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    list-style: none;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 24% 33% 33% 4%;
    align-items: flex-end;
    padding-bottom: 15px;

    &div:last-child {
      margin: 0px;
    }
  }

  .partFour {
    text-align: end;
  }
}

.emptyCart {
  letter-spacing: 0.1ch;
  color: rgba(93, 107, 98, 0.5);
  margin: 20px;
}

.renderTotal {
  display: block;
}

.total {
  border-top: 1px solid rgba(93, 107, 98, 0.5);
  border-bottom: 1px solid rgba(93, 107, 98, 0.5);
  margin: 20px;
  padding: 20px 0;
  font-weight: bold;

  .product:first-child {
    margin-left: 20px;
  }
}

.checkoutLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkoutLink {
  background-color: lightgrey;
  border: none;
  padding: 5px 10px;
  text-align: center;
  font-family:
    Nova Mono,
    'Courier New',
    Courier,
    monospace;
  text-transform: uppercase;
  letter-spacing: 0.1ch;

  &:hover {
    background-color: rgba(93, 107, 98, 0.5);
  }
}

.product {
  font-family:
    Nova Mono,
    'Courier New',
    Courier,
    monospace;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  margin: 5px 0;
}

.partOne {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
