* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
}
