@font-face {
  font-family: 'Nova Mono';
  src: url(https://fonts.gstatic.com/s/novamono/v20/Cn-0JtiGWQ5Ajb--MRKvZ2ZZj9AtSw.woff2)
    format('woff2');
  font-weight: 400;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f4f3f2;
}

header,
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  background-color: #f4f3f2;
  font-family: 'Nova Mono', 'Courier New', Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
}

header {
  top: 0;
  border-bottom: 1px solid rgba(93, 107, 98, 0.5);
}

footer {
  bottom: 0;
  border-top: 1px solid rgba(93, 107, 98, 0.5);
  justify-content: space-between;

  .foundingYear {
    padding: 20px;
  }
}

main {
  margin: 150px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5d6b62;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.attribution {
  font-size: 10px;
  gap: 1px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.navBar {
  flex-basis: 100%;
}

.cartWrapper {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}
