* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  background-color: white;
}

header {
  top: 0;
  border-bottom: 2px solid black;
}

footer {
  bottom: 0;
  border-top: 2px solid black;
}

main {
  margin: 100px 0;
}
